---
import { Image } from "astro:assets";

interface Props {
    title: string;
    image: ImageMetadata;
    link: string;
}

const { title, link, image } = Astro.props;
---

<div class="flex flex-row content-center py-5">
    <h1 class="pr-[1ch] pt-1 text-3xl font-bold">{title}</h1>
    <a href={link}>
        <Image src={image} alt="Github logo" class="h-12 w-12" />
    </a>
</div>
