.main-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: calc(100vh - 10rem);
  display: flex;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 6rem;

  flex-grow: 3;
  flex-basis: 0;
}

.extras-container {
  flex-grow: 2;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extras-container ul {
  list-style-type: "🡒 ";
  padding: 0;
  margin: 0;
  height: min-content;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 4rem;
}

.extras-container ul li {
  margin-top: 2rem;
}

.intro {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 200;
}

/* TODO: mobile :| */
/* Some weird hack to stack the spans: https://stackoverflow.com/a/58360992 */
#roll-container {
  display: inline-grid;
  grid-template: 1fr / 1fr;
  place-items: left;
}

#roll-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.rollable {
  display: inline-block;
  transform-origin: 50% 50% -40px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.rolled-out {
  transform: perspective(500px) translateZ(-40px) rotateX(90deg);
  opacity: 0;
  z-index: 1;
}

.rolled-in {
  transform: perspective(500px) translateZ(-40px) rotateX(0deg);
  opacity: 1;
  z-index: 2;
}

.hidden {
  transform: perspective(500px) translateZ(-40px) rotateX(-90deg);
  opacity: 0;
  transition: none;
}

.emphasis {
  font-weight: 300;
}

#programmer {
  color: #ffb01d;
}

#engineer {
  color: slateblue;
}

#filmmaker {
  color: crimson;
}

#roboticist {
  color: steelblue;
}

#videographer {
  color: #3b8358;
}
