body {
  background-color: black;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 4rem;
}

@media screen and (max-width: 600px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 600px) {
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.text-white {
  color: #ffffff;
}

.clickable:hover {
  color: #3a7bba !important;
  text-decoration: none;
}

nav {
  margin: 0;
  background-color: #242424;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

nav .clickable {
  text-decoration: none;
  font-size: 1.5rem;
}

#nav-desktop {
  display: flex;
}

#nav-desktop .clickable {
  margin: 0;
  padding: 1.25rem 2rem 1.25rem 2rem;
  flex-shrink: 1;
  width: fit-content;
  text-align: center;
  border-right: 0.2rem solid #2b2b2b;
}

#nav-desktop .clickable:hover {
  background-color: #2b2b2b;
}

#nav-mobile-icon {
  padding: 1rem 1.5rem 0.75rem 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

#nav-mobile-side {
  top: 4.25rem;
  height: calc(100vh - 4.25rem);
  width: fit-content;
  transition: transform 0.5s ease-in-out;
}

#nav-mobile-side .clickable {
  display: block;
  padding: 1.5rem 2rem 0rem 2rem;
}

.nav-hidden {
  transform: translateX(-100%);
}

@media screen and (max-width: 600px) {
  #nav-desktop {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #nav-mobile-top {
    display: none;
  }

  #nav-mobile-side {
    display: none;
  }
}

.text-link {
  color: #2e6294 !important;
}

.section-black {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  display: flexbox;
}

@media screen and (min-width: 800px) {
  .section-black p {
    max-width: 60%;
  }
}

#name-in {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  min-width: 20rem;
  width: 35%;
  font-size: 2rem;
}

.fadeable {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.fade-in {
  opacity: 1;
}
