@import "nav.css";
@import "fade.css";
@import "textlogo.css";
@import url("https://fonts.googleapis.com/css2?family=Noto Sans:wght@200;300;400&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

body * {
  color: white;
}

main {
  padding-top: 8rem;
}

@media screen and (max-width: 600px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 600px) {
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

section {
  padding-bottom: 1rem;
  display: flexbox;
}

@media screen and (min-width: 800px) {
  .half-text {
    max-width: 50%;
  }
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
