#githublogo {
  height: 3rem;
}

.text-img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  justify-content: flex-start;
}

.text-img-text {
  flex: 1;
}

.text-img-img {
  flex: 1;
  height: 200px;
  align-self: center;
  object-fit: contain;
}
