#worth-the-risk-package {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#worth-the-risk {
  flex: 1;
}

#vid-container {
  flex: 1;
}

#vid {
  border: none;
}

#youtubelogo {
  height: 2.5rem;
}
