---
import Layout from "../layouts/Layout.astro";
import MailIcon from "../images/mail.svg";
import LinkedInIcon from "../images/linkedin.svg";
import { Image } from "astro:assets";
---

<Layout title="Contact">
    <main
        class="flex h-screen flex-col px-8 pt-28 text-2xl sm:justify-center sm:px-12 sm:pt-0 sm:text-3xl"
    >
        <p class="flex flex-row items-center">
            <Image
                src={MailIcon}
                alt="E-mail"
                class="h-14 w-14 object-contain pr-4 pt-2 sm:h-16 sm:w-16"
            />
            <a
                class="inline-block break-all text-link hover:text-link-highlight"
                href="mailto:contact@utku.sh">contact@utku.sh</a
            >
        </p>
        <p class="flex flex-row items-center pt-8">
            <Image
                src={LinkedInIcon}
                alt="LinkedIn"
                class="h-14 w-14 object-contain pr-4 sm:h-16 sm:w-16"
            />
            <a
                class="inline-block break-all text-link hover:text-link-highlight"
                href="https://www.linkedin.com/in/utku-melemetci/"
                >linkedin.com/in/utku-melemetci</a
            >
        </p>
    </main>
</Layout>
