---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Film">
    <main class="px-8 pb-16 pt-28 sm:px-12">
        <h1 class="text-3xl">
            This page is still in the works. Thanks for your patience.
        </h1>
    </main>
</Layout>
