---
import PageHeader from "../components/projects/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import YtIconMonoDark from "../images/yt_icon_mono_dark.png";
import { getCollection } from "astro:content";
import FilmProject from "../components/projects/FilmProject.astro";

const filmCollection = await getCollection("film");
---

<Layout title="Film">
    <main class="px-8 pb-16 pt-24 sm:px-12">
        <PageHeader
            title="Filmmaking"
            image={YtIconMonoDark}
            alt="YouTube logo"
            link="https://www.youtube.com/channel/UCD6_3qbS5DG5qsRQHl9GCOg"
        />
        {
            filmCollection
                .toSorted((a, b) => a.data.order - b.data.order)
                .map((film) => <FilmProject entry={film} />)
        }
    </main>
</Layout>
