---
import Layout from "../layouts/Layout.astro";
import GithubMarkLight from "../images/GitHub-Mark-Light.png";
import PageHeader from "../components/projects/PageHeader.astro";
import SectionHeader from "../components/projects/SectionHeader.astro";
import { getCollection } from "astro:content";
import SoftwareProject from "../components/projects/SoftwareProject.astro";

const personalSoftware = await getCollection("software-personal");
const contributionSoftware = await getCollection("software-contrib");
---

<Layout title="Software">
    <main class="px-8 pb-16 pt-24 sm:px-12">
        <PageHeader
            title="Software"
            image={GithubMarkLight}
            link="https://github.com/Yey007"
        />
        <section>
            <SectionHeader title="Personal Projects" />
            {
                personalSoftware
                    .toSorted((a, b) => a.data.order - b.data.order)
                    .map((project) => <SoftwareProject entry={project} />)
            }
        </section>
        <section>
            <SectionHeader title="Contributions" />
            {
                contributionSoftware
                    .toSorted((a, b) => a.data.order - b.data.order)
                    .map((project) => <SoftwareProject entry={project} />)
            }
        </section>
    </main>
</Layout>
