---
import Navbar from "../components/nav/Navbar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <style>
            @font-face {
                font-family: "Cantarell";
                src: url("/fonts/Cantarell-VF.otf") format("opentype");
            }
        </style>
    </head>
    <body class="bg-darker-metal font-sans text-off-white">
        <Navbar />
        <slot />
    </body>
</html>
