---
import { normalizePath } from "./normalizePath";

interface Props {
    name: string;
    to: string;
}

const path = Astro.url.pathname;
const { name, to } = Astro.props;

const onPage = normalizePath(to) === normalizePath(path);
---

<a
    class:list={[
        "block pl-6 pr-8 pt-8 text-2xl text-white",
        onPage
            ? "underline decoration-neutral-500 decoration-1 underline-offset-8"
            : "",
    ]}
    href={to}
>
    {name}
</a>
